{% extends "layout.html" %}

{% block content %}
<section class="main">
      <section class="articles">
          <article>
            <h2><center>Editar</center></h2>

                <br><br>
<form action="/editar_comenta/{{com.0}}" method="post">
   <div class="container">
          <div class="form-row">
               <div class="col-xs-12 ">
                <div class="mb-3">
                      <label for="correo" class="form-label">Escribe aqui tu correo electronico</label>
                      <input type="text" class="form-control" name="correo" id="correo" placeholder="nombre@ejemplo.com" value="{{com.1}}">
                </div>
                <br>
                <div class="mb-3">
                      <label for="comentarios" class="form-label">Escribe tu mensaje</label>
                      <input type="text" class="form-control" name="comentarios" id="comentarios" value="{{com.2}}"></input>
                </div>
                </div>
          </div>
          <br><br><br>
    </div>
          <center><button type="submit" class="btn btn-primary">Actualizar</button></center>
          <br><br>
</form>
</article>
</article>
</section>
<aside>
      <h3>Personajes de la independencia de México</h3>
      <br>
      9. Hermenegildo Galeana (1762-1814)
      <br><br>
      <p><img src="/static/Imag/hermenegildo.jpg" width=100% >
      <br>
  </aside>
    
{% endblock %}