{% extends "layout.html" %}

{% block content %}
<section class="section-class">
    <section class="articles">

        <article>
<h3>
    <br>
    <Center> <b> Editar Medio de Publicidad </b> </Center>

</h3>
   <br>
   <br>
    <form action="/mediopublicidad_fedita/{{mediopublicidad.0}}" method="post">
        <div class="container">
          <div class="form-row">
               <div class="col-xs-12 ">
                <div class="mb-3">
                      <label for="descripcion" class="form-label"><strong>Ingrese el Medio de Publicidad:</strong></label>
                      <input type="text" class="form-control" name="descripcion" id="descripcion" placeholder="mediopublicidad" value="{{mediopublicidad.1}}">
                </div>

                </div>
                <br>
              <center></centerA><button type="submit" class="btn btn-info">Actualizar</button></center>
              <br>
          </div>
    </div>

</form>
</article>
</section>

{% endblock %}