{% extends "layout.html" %}
 {% block content %} 

 <section class="section-class">
    <section class="articles">
        <article>
            <h2>Requisiciones Pendientes</h2>
        </article>
        <article>

            <div class="container"> 
                <br> 
                <center><h1><strong>Requisicion</strong></h1></center> 
                <center><table width="80%" border="0" cellpadding="2%"></table></center> 
                <tr> 
                    <td> 
                        <table class="table"> 
                            <thead> <tr> <th class="table-dark" scope="col">Folio</th>

                                <th class="table-dark" scope="col"><center>Puesto</center></th>

                                <td class="table-dark"></td> <td class="table-dark"><center>
                                    </center></td> 

                                </tr> </thead> 
                                <tbody> <table class="table table-striped table-danger">
                                    {% for i in req %} 
                                    <tr> 
                                       <td width="65%">
                                           {{i.1}}
                                
                                       {% for i in pue %} 
                                 
                                       <td width="45%">
                                           {{i.1}}
                                       </td> 
                                       {% endfor %} 
                                        <td width="15%"><center>
                                            <a class="btn btn-danger" href="/requisicion_fdetalle/{{i.0}}" role="button">Detalle</a>
                                        </center></td> <td width="15%"><center>
                                            <a class="btn btn-danger" href="/requisicion_autorizar/{{i.0}}" role="button">Autorizar</a></center></td>
                                             <td width="15%"><center>
                                                <a class="btn btn-outline-danger" href="/requisicion_borrar/{{i.0}}" role="button">Borrar</a></center></td> 
                                </tr>  {% endfor %} 
                            </table> 
                        </tbody> 
                    </table>
        <h3> 
            <br>
<h3><CENTER> <b> Detalle: </b> </CENTER></h3>
<br> 
<form class="row g-3" action="/requisicion_fdetalle/" method="GET"> 
<div class="col-md-12"> 
    <label for="folio" class="form-label">Folio</label> 
    <input type="text" class="form-control" name="folio" id="folio" value="{{dat.1}}" readonly="readonly"></input> 
</div>
<br> 
<div class="col-md-6"> 
    <label for="idArea" class="form-label">Área que solicita:</label> 
    <input type="text" class="form-control" name="idArea" id="idArea" value="{{catArea.1}}" readonly="readonly"></input> 
</div> 
<div class="col-md-6"> 
    <label for="fechaElab" class="form-label">Fecha de Elaboración</label> 
    <input type="date" class="form-control" name="fechaElab" id="fechaElab" value="{{dat.2}}" readonly="readonly"></input> 
</div> 
<div class="col-md-12"> 
    <label for="Puesto" class="form-label">Puesto a cubrir:</label> 
    <input type="text" class="form-control" name="nomPuesto" id="idPuesto" value="{{catPuesto.1}}" readonly="readonly"></input> 
</div> 
    <div class="col-md-8"> 
        <label for="nomSolicita" class="form-label">Nombre y puesto de quien solicita:</label> 
    <input type="text" class="form-control" name="nomSolicita" id="nomSolicita" value="{{dat.8}}" readonly="readonly"></input> 
</div> 
<div class="col-md-4"> 
    <label for="fechaRecluta" class="form-label">Fecha de Reclutamiento:</label> 
    <input type="text" class="form-control" name="fechaRecluta" id="fechaRecluta" value="{{dat.3}}" readonly="readonly"></input> 
</div> 
<div class="col-md-12"> 
    <label for="fechaInicVac" class="form-label">Fecha de Inicio Vacante:</label> 
    <input type="text" class="form-control" name="fechaInicVac" id="fechaInicVac" value="{{dat.4}}" readonly="readonly"></input> 
</div> 

<div class="col-md-12"> <label for="tipoVacante" class="form-label">Tipo Vacante:</label> 
    <input type="text" class="form-control" name="tipoVacante" id="tipoVacante" value="{{dat.7}}" readonly="readonly"></input> 
</div> 


<div class="col-md-12"> <label for="motivoRequisicion" class="form-label">Vacante generada por:</label> 
    <input type="text" class="form-control" name="motivoRequisicion" id="motivoRequisicion" value="{{dat.5}}" readonly="readonly"></input> 
</div> 



<div class="col-md-12"> <label for="motivoRequisicion" class="form-label">Nombre del Puesto Jefe Superior</label> 
    <input type="text" class="form-control" name="puestoJefeSup" id="puestoJefeSup" value="{{catPuestoJefeSup.1}}" readonly="readonly"></input> 
</div> 
    <div class="col-md-8"> <label for="jornada" class="form-label">Jornada</label> 
    <input type="text" class="form-control" name="jornada" id="jornada" value="{{catJornada.1}}" readonly="readonly"></input> 
</div> 
<div class="col-md-12"> 
    <label for="descripcionGeneral" class="form-label">Descripción General</label> 
    <input type="text" class="form-control" name="descripcionGeneral" id="descripcionGeneral" value="{{catDescripcionGeneral.8}}" readonly="readonly"></input> 
</div>
<div class="col-md-12"> <label for="funciones" class="form-label">Funciones</label> 
    <input type="text" class="form-control" name="funciones" id="funciones" value="{{catFunciones.1}}" readonly="readonly"></input> 
</div> 
<div class="col-md-4"> <label for="edad" class="form-label">Edad</label>
    <input type="text" class="form-control" name="edad" id="edad" value="{{catEdad.1}}" readonly="readonly"></input> 
</div> 
<div class="col-md-4">
    <label for="sexo" class="form-label">Sexo:</label> 
    <input type="text" class="form-control" name="sexo" id="sexo" value="{{catSexo.1}}" readonly="readonly"></input> 
</div>  
<div class="col-md-4"> 
    <label for="idEscolaridad" class="form-label">Escolaridad:</label> 
    <input type="text" class="form-control" name="idEscolaridad" id="idEscolaridad" value="{{catEscolaridad.1}}" readonly="readonly"></input> 
</div> 

<div class="col-md-4"> 
    <label for="idEstadoCivil" class="form-label">Estado Civil:</label> 
    <input type="text" class="form-control" name="idEstadoCivil" id="idEstadoCivil" value="{{catEstadoCivil.1}}" readonly="readonly"></input> 
</div> 


</div> 
</form> 
</div> 
</article>
</section>
</body>
</div>
{% endblock %}

